// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.login-layout{
  background: #2e6da4;
}

.login-wrap{
  width: 250px;
  margin: 0 auto;
}
.login-form{
  a{
    float: right;
    color: #fff;
  }
  .col{
    position: relative;
    padding: 10px 0;
  }
  .login-checkbox{
    color: #fff;
    margin: 0;
  }
  .login-input{
    display: block;
    padding: 5px 10px 5px 34px;
    font-size: 14px;
    line-height: 32px;
    width: 250px;
    border: 0;
    border-radius: 4px;
  }
  button{
    line-height: 28px;
    font-size: 16px;
    font-weight: 600;
  }
  label.fa{
    position: absolute;
    display: block;
    font-size: 14px;
    top: 24px;
    left: 14px;
  }
}